.history/
.idea/
node_modules/
cache/
build/
dist/
typechain/
artifacts/
forge-out/
keys/*
coverage*
.DS_Store
.pnp.*
.yarn/*
.vscode
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
/.env.local
config.local.yaml

/logs/*.json
*.log
*.tsbuildinfo
.eslintcache
.eslint.local.json
*.generated.ts
config.yaml
# Optimistic output
/output